<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PropertyPulse</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            PropertyPulse
        </div>

        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Predict</a>
            <a href="#">Compare</a>
            <a href="#">Trends</a>
        </div>
    </nav>


    <!-- Hero Section -->
    <section class="hero">

        <h1>
            Smart Real Estate Price Analyzer
        </h1>

        <p>
            Know the worth of your property before you buy or sell.
        </p>

      <a href="/predict">

<button>
Analyze Property
</button>

</a>

    </section>


    <!-- Statistics Section -->

    <section class="cards">

        <div class="card">
            <h2>5000+</h2>
            <p>Properties Analyzed</p>
        </div>


        <div class="card">
            <h2>18</h2>
            <p>Cities Covered</p>
        </div>


        <div class="card">
            <h2>₹5000</h2>
            <p>Average Price/Sq.ft</p>
        </div>

    </section>


</body>

</html>